<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addBook.css') }}">     
</head>
<body>
    <a href="/"><button class="bttn" >Home</button></a>

    <center><h1>WELCOME</h1></center>
   
    <form method="post">
        <div class="msg"><b>{{ mssg }}</b></div>
        <div class="ggmsg">{{ ggMsg }}</div>
        <input id="name" name="name" type="text" placeholder="Enter Book Name" class="textbox" required><br><br>
        <input id="author" name="author" type="text" placeholder="Author Name" class="textbox" required><br><br>
        <input id="copies" name="copies" type="number" placeholder="Number of copies" class="textbox" required min=1><br><br>
        <input id="id" name="id" type="number" placeholder="Unique ID" class="textbox" required><br><br>
        <input type="submit" class="btn" value="Add"><br><br>
    </form>
</body>
</html>
