<html>
    <title>Library Management</title>
    <head>
        <style>
            .button {
              background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
            }
            </style>
    </head>
    <body>
       <p><h1>WELCOME</h1></p>
       <br>
        <a href="/bookList"><button class="button" >Show current books</button></a>
        <a href="/addBook"><button class="button" >Add new Book</button></a>
        <a href="/addUser"><button class="button" >Add User</button></a>
        <a href="/issueBook"><button class="button" >Issue Book</button></a>
        <a href="/returnBook"><button class="button" >Return Book</button></a>
        <a href="/issueList"><button class="button" >View Issue List</button></a>
        <a href="/payFine"><button class="button" >Check and Pay Fine</button></a>


        
    </body>
</html>